{% extends "app/base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}


<div class="container">
	<div class="skincare-wrap">
		<div class="skincare">

			<div class="d-flex">
				<img src="{% static 'img/wash1.png' %}" alt="" class="col-lg-5">
				<img src="{% static 'img/wash2.png' %}" alt="" class="col-lg-5">
				<img src="{% static 'img/wash3.png' %}" alt="" class="col-lg-5">
				<img src="{% static 'img/wash4.png' %}" alt="" class="col-lg-5">
			</div>
		</div>
	</div>
	<!-- ========================= -->
	<!-- ========================= -->
	<!-- ========================= -->
	<!-- 季節 -->

	<div class="season">
		<div class="spring">
			<div class="skin-feature-title d-flex">
				<h4 class="title">春</h4>
				<h4 class="sub-title">花粉による肌ダメージ</h4>
			</div>
			<div class="skin-feature">
				<div class="d-flex align-items-center">
					<div class="col-lg-6 mx-auto">
						<img src="{% static 'img/spring-pic.png' %}" alt="">
					</div>
					<div class="col-lg-5">
						<h5>
							知らないうちにダメージ<br>
							毎日リセット！
						</h5>
						<p>短い時間で大きなダメージを与えるUVB、肌老化の原因となるUVAの2種類の紫外線量が多い。<br>
							日々のスキンケアを入念にし、日焼け止めを取り入れる。</p>
					</div>
				</div>
				<!-- <div class="dotted2 skin-feature-line"></div> -->
			</div>
			<div class="feature-content">
				<div class="d-flex justify-content-center">
					<h4 class="second-title">春のスキンケアポイント</h4>
				</div>
				<div class="d-flex justify-content-center second-content">
					<div>
						<img src="{% static 'img/summer1.png' %}" alt="" class="d-flex mx-auto">
						<p class="mx-auto point point1 text-center">Point.1</p>
						<p>
							肌に与えるダメージの8割が紫外線。<br>
							日焼け止めを使い、肌を守りましょう。
						</p>
					</div>
					<div>
						<img src="{% static 'img/feature-summer.png' %}" alt="" class="d-flex mx-auto">
						<p class="mx-auto point point2 text-center">Point.2</p>
						<p>
							肌に与えるダメージの8割が紫外線。<br>
							日焼け止めを使い、肌を守りましょう。
						</p>
					</div>
				</div>
			</div>
		</div>
	<!-- ========================= -->
	<!-- ========================= -->
	<!-- ========================= -->
		<div class="summer">
			<div class="skin-feature-title d-flex">
				<h4 class="title">夏</h4>
				<h4 class="sub-title">紫外線による肌ダメージ</h4>
			</div>
			<div class="skin-feature">
				<div class="d-flex align-items-center">
					<div class="col-lg-6 mx-auto">
						<img src="{% static 'img/season_summer.png' %}" alt="">
					</div>
					<div class="col-lg-5">
						<h5>
							肌ダメージ、8割が紫外線<br>
							守って健康的な肌に！
						</h5>
						<p>短い時間で大きなダメージを与えるUVB、肌老化の原因となるUVAの2種類の紫外線量が多い。<br>
							日々のスキンケアを入念にし、日焼け止めを取り入れる。</p>
					</div>
				</div>
				<!-- <div class="dotted2 skin-feature-line"></div> -->
			</div>
			<div class="feature-content">
				<div class="d-flex justify-content-center">
					<h4 class="second-title">夏のスキンケアポイント</h4>
				</div>
				<div class="d-flex justify-content-center second-content">
					<div>
						<img src="{% static 'img/summer1.png' %}" alt="" class="d-flex mx-auto">
						<p class="mx-auto point point1 text-center">Point.1</p>
						<p>
							肌に与えるダメージの8割が紫外線。<br>
							日焼け止めを使い、肌を守りましょう。
						</p>
					</div>
					<div>
						<img src="{% static 'img/feature-summer.png' %}" alt="" class="d-flex mx-auto">
						<p class="mx-auto point point2 text-center">Point.2</p>
						<p>
							肌に与えるダメージの8割が紫外線。<br>
							日焼け止めを使い、肌を守りましょう。
						</p>
					</div>
				</div>
			</div>
		</div>
	<!-- ========================= -->
	<!-- ========================= -->
	<!-- ========================= -->
		<div class="summer">
			<div class="skin-feature-title d-flex">
				<h4 class="title">秋</h4>
				<h4 class="sub-title">気温差による肌ダメージ</h4>
			</div>
			<div class="skin-feature">
				<div class="d-flex align-items-center">
					<div class="col-lg-6 mx-auto">
						<img src="{% static 'img/autmun-pic.png' %}" alt="">
					</div>
					<div class="col-lg-5">
						<h5>
							スキンケアも衣替え<br>
							予防して、乾燥知らずに！
						</h5>
						<p>短い時間で大きなダメージを与えるUVB、肌老化の原因となるUVAの2種類の紫外線量が多い。<br>
							日々のスキンケアを入念にし、日焼け止めを取り入れる。</p>
					</div>
				</div>
				<!-- <div class="dotted2 skin-feature-line"></div> -->
			</div>
			<div class="feature-content">
				<div class="d-flex justify-content-center">
					<h4 class="second-title">秋のスキンケアポイント</h4>
				</div>
				<div class="d-flex justify-content-center second-content">
					<div>
						<img src="{% static 'img/summer1.png' %}" alt="" class="d-flex mx-auto">
						<p class="mx-auto point point1 text-center">Point.1</p>
						<p>
							肌に与えるダメージの8割が紫外線。<br>
							日焼け止めを使い、肌を守りましょう。
						</p>
					</div>
					<div>
						<img src="{% static 'img/feature-summer.png' %}" alt="" class="d-flex mx-auto">
						<p class="mx-auto point point2 text-center">Point.2</p>
						<p>
							肌に与えるダメージの8割が紫外線。<br>
							日焼け止めを使い、肌を守りましょう。
						</p>
					</div>
				</div>
			</div>
		</div>
	<!-- ========================= -->
	<!-- ========================= -->
	<!-- ========================= -->
		<div class="summer">
			<div class="skin-feature-title d-flex">
				<h4 class="title">冬</h4>
				<h4 class="sub-title">乾燥による肌ダメージ</h4>
			</div>
			<div class="skin-feature">
				<div class="d-flex align-items-center">
					<div class="col-lg-6 mx-auto">
						<img src="{% static 'img/winter-pic.png' %}" alt="">
					</div>
					<div class="col-lg-5">
						<h5>
							肌にとって過酷な季節<br>
							うるおい補給を第一に！
						</h5>
						<p>短い時間で大きなダメージを与えるUVB、肌老化の原因となるUVAの2種類の紫外線量が多い。<br>
							日々のスキンケアを入念にし、日焼け止めを取り入れる。</p>
					</div>
				</div>
				<!-- <div class="dotted2 skin-feature-line"></div> -->
			</div>
			<div class="feature-content">
				<div class="d-flex justify-content-center">
					<h4 class="second-title">冬のスキンケアポイント</h4>
				</div>
				<div class="d-flex justify-content-center second-content">
					<div>
						<img src="{% static 'img/summer1.png' %}" alt="" class="d-flex mx-auto">
						<p class="mx-auto point point1 text-center">Point.1</p>
						<p>
							肌に与えるダメージの8割が紫外線。<br>
							日焼け止めを使い、肌を守りましょう。
						</p>
					</div>
					<div>
						<img src="{% static 'img/feature-summer.png' %}" alt="" class="d-flex mx-auto">
						<p class="mx-auto point point2 text-center">Point.2</p>
						<p>
							肌に与えるダメージの8割が紫外線。<br>
							日焼け止めを使い、肌を守りましょう。
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
















	<div class="d-flex justify-content-end">
		<div class="basic-bg">
			<div class="d-flex row">
				<div class="basic">
					<h4>スキンケアの基本と肌知識</h4>
					<p>スキンケアアイテムの役割や季節、男性の肌の特徴などわかりやすく解説。いつもしているスキンケアを見直すことでより一層健康的な肌に。</p>
				</div>
			</div>
			<section class="content" id="wash">
				<div class="d-flex row basic-wash-wrap">
					<div class="basic-wash order-2">
						<h5>Step.1</h5>
						<div class="dotted2 mb-3"></div>
						<div class="d-flex align-items-center">
							<h5 class="mr-2">洗顔</h5>
							<img src="{% static 'img/sun.png' %}" alt="">
							<img src="{% static 'img/moon.png' %}" alt="">
						</div>
						<p>手の摩擦がかからないように優しく洗いましょう。<br>顔を洗う順番は意識していますか？</p>
						<ol class="wash-order">
							<li>皮脂が出やすいTゾーンと言われる額や鼻</li>
							<li>Uゾーンと言われる頬や口</li>
							<li>目の周り</li>
						</ol>
						<p>ぜひ意識しながら洗ってみてください。<br>洗顔を丁寧に行い、綺麗な肌を保ちましょう。</p>
					</div>
					<div class="sukincare-img order-lg-2">
						<img src="{% static 'img/buble.jpg' %}" alt="">
					</div>
				</div>
			</section>
			<section class="content" id="toner">
				<div class="d-flex row basic-wash-wrap">
					<div class="basic-wash order-2">
						<h5>Step.2</h5>
						<div class="dotted2 mb-3"></div>
						<div class="d-flex align-items-center">
							<h5 class="mr-2">化粧水</h5>
							<img src="{% static 'img/sun.png' %}" alt="">
							<img src="{% static 'img/moon.png' %}" alt="">
						</div>
						<p>滑らせるように塗布し、手のひらで顔を覆うように軽い力で抑えてあげるのがポイント。<br>
							丁寧に行うのであればコットンを使うのもおすすめです。<br>
							全体的に均等につけることができ,余分な角質が取れ滑らかな肌になります。
						</p>
					</div>
					<div class="image sukincare-img order-lg-2">
						<img src="{% static 'img/toner.jpg' %}" alt="">
					</div>
				</div>
			</section>
			<a name="category-cream" id="page-link"></a>
			<a name="category-sunscreen" id="page-link"></a>
			<section class="content" id="cream">
				<div class="d-flex row basic-wash-wrap">
					<div class="basic-wash order-2">
						<h5>Step.3</h5>
						<div class="dotted2 mb-3"></div>
						<div class="d-flex align-items-center">
							<h5 class="mr-2">乳液•クリーム</h5>
							<img src="{% static 'img/sun.png' %}" alt="">
							<img src="{% static 'img/moon.png' %}" alt="">
						</div>
						<p>肌表面にバリアを張ることができ、外からの刺激を防ぐことがでます。<br>
							うるおいが足りなくなると、肌に凹凸ができカサカサ、さらには髭剃り負けが起きやすくなります。<br>
							水分を逃さないように乾燥しやすい頬周りからつけましょう。
						</p>
					</div>
					<div class="image sukincare-img order-lg-2">
						<img src="{% static 'img/cleam.png' %}" alt="">
					</div>
				</div>
			</section>
			<section class="content" id="sunscreen">
				<div class="d-flex row basic-wash-wrap">
					<div class="basic-wash order-2">
						<h5>Step.4</h5>
						<div class="dotted2 mb-3"></div>
						<div class="d-flex align-items-center">
							<h5 class="mr-2">日焼け止め</h5>
							<img src="{% static 'img/sun.png' %}" alt="">
						</div>
						<p>肌に与えるダメージの約8割は紫外線と言われています。紫外線を防ぐことが健康的な肌を保つ秘訣といえます。<br>
							紫外線を防ぐだけではなく、肌にバリアを張ることで水分を保つこともできます。<br>季節問わず使うことをおすすめします。
						</p>
					</div>
					<div class="image sukincare-img order-lg-2">
						<img src="{% static 'img/suncare.png' %}" alt="">
					</div>
				</div>
			</section>
		</div>

		<div class="">
			<h5 class="">肌に及ぼす影響</h5>
			<div class="dotted2 mb-3"></div>
			<ul class="">
				<li>皮脂腺が活発に活動し、皮脂が出やすい傾向</li>
				<li>皮脂の多い状態が続くと、ニキビや毛穴の悩み</li>
				<li>肌の水分量が少ない</li>
				<li>体温が高く汗をかきやすい</li>
				<li>筋肉が発達しやすい</li>
			</ul>
		</div>
		<div class="">
			<h5 class="point-contetn">スキンケアのポイント</h5>
			<div class="dotted2 mb-3"></div>
			<ul class="">
				<li>汗・皮脂など汚れを取る、朝・夜の洗顔</li>
				<li>皮脂を抑えることのできるスキンケアアイテムの使用</li>
				<li>スキンケアをつけるときは手の平で抑えるようにつけ、肌の水分量をあげよう</li>
				<li>習慣的なスキンケアで悩みをできにくく</li>
			</ul>
		</div>
	</div>
</div>
</div>
</section>
<section class="content" id="shave">
	<div class="d-flex basic-wash-wrap">
		<div class="men-feature">
			<h5 class="">ヒゲ剃り後の乾燥や肌荒れ、気になりませんか？</h5>
			<div class="image d-flex justify-content-center">
				<img src="{% static 'img/shave.jpg' %}" alt="">
			</div>
			<div class="d-flex justify-content-between row feature-content">
				<div class="">
					<h5 class="">肌に及ぼす影響</h5>
					<div class="dotted2 mb-3"></div>
					<ul class="">
						<li>剃刀負けでニキビや肌荒れ</li>
						<li>逆剃りすることで肌の表面を傷つける</li>
						<li>同じところを何度も剃ることにより、肌へのダメージが蓄積</li>
						<li>乾燥肌やシミの原因になる</li>
					</ul>
				</div>
				<div class="">
					<h5 class="point-contetn">スキンケアのポイント</h5>
					<div class="dotted2 mb-3"></div>
					<ul class="">
						<li>髭剃り前の洗顔、シェービング剤の使用</li>
						<li>髭剃り後、アフターシェーブでダメージの沈静</li>
						<li>乳液・クリームで保湿の徹底</li>
						<li>同じところを何度も剃らない</li>
						<li>髭の毛流れに沿ってシェーバーを動かす</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="content" id="men-women">
	<div class="d-flex basic-wash-wrap">
		<div class="men-feature">
			<h5 class="">男性の肌は約２５％厚く、毛穴が大きい、キメが粗い。</h5>
			<div class="image d-flex justify-content-center">
				<img src="{% static 'img/futer3.jpg' %}" alt="">
			</div>
			<div class="d-flex justify-content-between row feature-content">
				<div>
					<h5 class="">肌に及ぼす影響</h5>
					<div class="dotted2 mb-3"></div>
					<ul class="">
						<li>皮脂量が約2倍、水分量は約 1 / 2</li>
						<li>水分量が少なくバリア機能が弱い</li>
						<li>厚みがあり、年齢を重ねると重たく、深いシワになりやすい</li>
						<li>スキンケアの習慣がなく悩みが出やすい</li>
					</ul>
				</div>
				<div class="">
					<h5 class="point-contetn">スキンケアのポイント</h5>
					<div class="dotted2 mb-3"></div>
					<ul class="">
						<li>肌のバリア機能を強化するため乳液・クリームの使用を徹底</li>
						<li>日焼け止めを塗る習慣をつける</li>
						<li>早めのスキンケア習慣で、深いシワを作らない。若々しい肌の維持</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
</div>
<section class="content" id="spring">
	<div class="d-flex basic-wash-wrap">
		<div class="men-feature">
			<h5 class="">春が肌に及ぼす影響と対策</h5>
			<div class="image d-flex justify-content-center">
				<img src="{% static 'img/spring.jpg' %}" alt="">
			</div>
			<div class="d-flex justify-content-between row feature-content">
				<div class="">
					<h5 class="">紫外線量が夏と同じくらい</h5>
					<div class="dotted2"></div>
					<ul class="mt-3">
						<li>紫外線の耐性ができていないため、大きな肌ダメージに</li>
						<li>肌の老化の原因となるUVA波が多い</li>
						<li>日焼け止めは必須のアイテム</li>
					</ul>
				</div>
				<div class="point-contetn">
					<h5 class="">花粉によるダメージ</h5>
					<div class="dotted2 mb-3"></div>
					<ul>
						<li>花粉量が1年で1番多い</li>
						<li>知らないうちに肌がダメージを受け、痒みや赤みが出る</li>
						<li>敏感肌に対応していたり、炎症を抑えることのできるスキンケアを使う</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="content" id="summer">
	<div class="d-flex basic-wash-wrap">
		<div class="men-feature">
			<h5 class="">夏が肌に及ぼす影響と対策</h5>
			<div class="image d-flex justify-content-center">
				<img src="{% static 'img/summer.jpg' %}" alt="">
			</div>
			<div class="d-flex justify-content-between row feature-content">
				<div class="">
					<h5 class="">1年で一番多い紫外線量</h5>
					<div class="dotted2"></div>
					<ul class="mt-3">

					</ul>
				</div>
				<div class="point-contetn">
					<h5 class="">エアコンによる乾燥対策</h5>
					<div class="dotted2 mb-3"></div>
					<ul>
						<li>涼しくて必需品なエアコンが肌の水分を奪う</li>
						<li>室内外の気温差、エアコンの風を浴びるなど肌の水分が外に逃げ、インナードライになる要素がたくさん。</li>
						<li>水分を補うように化粧水を多めにつける</li>
						<li>乳液クリームで水分を逃げないようにする</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="content" id="autumn">
	<div class="d-flex basic-wash-wrap">
		<div class="men-feature">
			<h5 class="">秋が肌に及ぼす影響</h5>
			<div class="image d-flex justify-content-center">
				<img src="{% static 'img/autumn.jpg' %}" alt="">
			</div>
			<div class="d-flex justify-content-between row feature-content">
				<div class="">
					<h5 class="">徐々に気温と湿度が下がり始める</h5>
					<div class="dotted2"></div>
					<ul class="mt-3">
						<li>気温と湿度の急激な変化</li>
						<li>皮脂の分泌が減少し肌のバリア機能が弱くなる</li>
						<li>早めの乾燥対策を心がけ、バリア機能を整えましょう</li>
					</ul>
				</div>
				<div class="point-contetn">
					<h5 class="">夏のダメージが肌に現れる</h5>
					<div class="dotted2 mb-3"></div>
					<ul>
						<li>紫外線などのダメージから肌を守ろうと肌が厚く、硬くなっていく</li>
						<li>毛穴が広がって見え、疲れた感じに見えてしまう</li>
						<li>化粧水をたっぷりつける、乳液クリームを欠かさず塗ることを心がける</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="content" id="winter">
	<div class="d-flex basic-wash-wrap">
		<div class="men-feature">
			<h5 class="">冬が肌に及ぼす影響</h5>
			<div class="image d-flex justify-content-center">
				<img src="{% static 'img/winter.jpg' %}" alt="">
			</div>
			<div class="d-flex justify-content-between row feature-content">
				<div class="">
					<h5 class="">乾燥対策を第一に</h5>
					<div class="dotted2"></div>
					<ul class="mt-3">
						<li>気温と湿度が低下し乾燥肌に</li>
						<li>水分と油分の低下により、肌悩みが出やすい</li>
						<li>手のひらで顔を覆うようにし、軽く押さえてあげるなど、スキンケアをより丁寧に</li>
					</ul>
				</div>
				<div class="point-contetn">
					<h5 class="">肌にとって一番過酷な季節</h5>
					<div class="dotted2 mb-3"></div>
					<ul>
						<li>冷たい風、暖房など、肌にとって影響が大きい</li>
						<li>スキンケアの方法を見直し、肌のダメージを抑える</li>
						<li>いつものスキンケアにプラスのアイテム(美容液、オイルなど)を使い、乾燥対策</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
</div>
</div>
</div>
</div>
</div>


{% block extra_js %}
<script>

	{
		const menuItems = document.querySelectorAll('.menu li a');
		const contents = document.querySelectorAll('.content');

		menuItems.forEach(clickedItem => {
			clickedItem.addEventListener('click', e => {
				e.preventDefault();


				// menuItems.forEach(item => {
				// 	item.classList.remove('active');
				// });
				clickedItem.classList.add('active');

				contents.forEach(content => {
					content.classList.remove('active')
				})

				document.getElementById(clickedItem.dataset.id).classList.add('active');
			});
		});
	}


</script>
{% endblock %}

{% endblock %}